TOKEN=<token goes here>
PATTERN="^(0x)?[0-9a-f]{40}$|(etherscan.io)"
WARN_USER=true
WARNING=":warning: It looks like you tried to post an Ethereum address or Etherscan link that could be used for phishing/stealing funds! This message has been removed. Please avoid posting such messages in the future, otherwise you may be banned. :warning:"